<p id="notice"><%= notice %></p>

<h1>C Products</h1>

<table>
  <thead>
    <tr>
      <th>Ptype</th>
      <th>Cstatus</th>
      <th>User</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Marca</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @c_products.each do |c_product| %>
      <tr>
        <td><%= c_product.ptype %></td>
        <td><%= c_product.cstatus %></td>
        <td><%= c_product.user %></td>
        <td><%= c_product.Nombre %></td>
        <td><%= c_product.Descripcion %></td>
        <td><%= c_product.Marca %></td>
        <td><%= link_to 'Show', c_product %></td>
        <td><%= link_to 'Edit', edit_c_product_path(c_product) %></td>
        <td><%= link_to 'Destroy', c_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New C Product', new_c_product_path %>
